<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<addon id="script.module.test-semantic-release-for-kodi" name="Test Semantic Release Module" version="{{ version }}" provider-name="Test Author">
  <requires>
    <import addon="xbmc.python" version="3.0.0"/>
  </requires>
  <extension point="xbmc.python.module" library="lib"/>
  <extension point="xbmc.addon.metadata">
    <summary>Test module for semantic release functionality</summary>
    <description>Test module demonstrating automated semantic releases with conventional commits.</description>
    <platform>all</platform>
    <news>
Release v{{ version }}
Test template processing
{% for type, commits in unreleased.items() -%}
Type: {{ type }}, Commits: {{ commits | length }}
{% endfor -%}
    </news>
  </extension>
</addon>