<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<addon id="test.addon" name="Test Addon" version="{{ version }}" provider-name="Test Author">
  <requires>
    <import addon="xbmc.python" version="3.0.0"/>
  </requires>
  <extension point="xbmc.python.pluginsource" library="lib">
    <provides>video</provides>
  </extension>
  <extension point="xbmc.addon.metadata">
    <summary>Test addon for semantic-release prototyping</summary>
    <description>Test addon for semantic-release prototyping</description>
    <news>
Release v{{ version }}
{% for commit in commits -%}
{% if commit.type == 'feat' or commit.type == 'perf' %}[new] {{ commit.subject }}{% elif commit.type == 'fix' %}[fix] {{ commit.subject }}{% endif %}
{% endfor -%}
    </news>
  </extension>
</addon>